nav {
    height: auto;
    padding: 15px;
    width: 100%;
    margin-bottom:20px ;
    transition: all .3s ease;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mode{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mode h2{
    margin:15px 15px;
}
svg{
    cursor: pointer;
}